*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:Arial, sans-serif;
    }

    body{
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      background:linear-gradient(160deg,#000000 0%,#091327 35%,#030b1d 70%,#000205 100%);
      padding:20px;
      z-index: -1;
      filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.289));
      animation: gradientBG 10s ease infinite;
    }
    /* Animated Gradient */
    @keyframes gradientBG {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    .container{
      width:100%;
      max-width:700px;
      background:linear-gradient(160deg,#ff4545 0%,#091327 35%,#030b1d 70%,#f92509 100%);
      border-radius:20px;
      padding:30px;
      box-shadow:0 10px 30px rgba(0,0,0,0.2);
      backdrop-filter: white blur(10px);
      -webkit-backdrop-filter: white blur(10px);
      opacity: 100% white blur(10px);
    }

    .container:hover {
        padding: 5%;
        transition: padding 0.50s ease;
    }
    /* Floating Circles */
    .circle {
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(40px);
        animation: float 30s infinite linear; 
        animation-direction: alternate;
    }

    @keyframes float {
        0% {
            transform: translateY(100vh) scale(0.5);
            opacity: 0;
        }
        50% {
            transform: translateZ(100vh) scale(0.5);
            opacity: 1;
        }
        100% {
            transform: translateY(-100vh) scale(1);
            opacity: 0;
        }
    }

    h1{
      text-align:center;
      margin-bottom:30px;
      color:#ff0000;
    }
    h1:hover{
        opacity: 100%;
        color: rgb(255, 68, 0); 
        filter: drop-shadow(0 0 10px rgba(255, 1, 1, 0.985));
      }

    .input-group{
      margin-bottom:20px;
      opacity: 100%;
      }

    label{
      display:block;
      margin-bottom:8px;
      font-weight:bold;
      color:rgba(128, 128, 128, 0.537);
    }

    input{
      width:100%;
      padding:14px;
      border-radius:10px;
      border:1px solid #ccc;
      font-size:16px;
      outline:none;
      color: rgb(25, 0, 255);
      opacity: 0.8;
      background-color: rgba(255, 255, 255, 0.838);
    }

    input:focus{
      border-color:#ff5e00;
    }
    input:hover{
      opacity: 100%;
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));

    }

    button{
      width:100%;
      padding:15px;
      border:20 solid #ff0000;
      border-radius:100px;
      background:rgb(6, 9, 61);
      color:rgb(255, 122, 122);
      font-size:18px;
      cursor:pointer;
      transition:0.3s;
      margin-top:10px;
      background-color: rgba(255, 255, 255, 0.1);
    }

    button:hover{
      background:#fe0404;
      opacity: 100%;
      color: #12f950;
      transform: scale(1.06);
      filter: drop-shadow(0 0 10px rgba(255, 1, 1, 0.985));
      background:linear-gradient(160deg,#ff0707 0%,#091327 35%,#030b1d 70%,#f92509 100%);
    }

    .result-box{
      margin-top:30vh;
      box-sizing: border-box;
      padding: 20px;
      background: rgba(0, 0, 0, 0.8);
      border-radius:15px;
      filter: drop-shadow(0 0 10px rgba(255, 1, 1, 0.985));
    }

    .result-title{
      color:#ff2600;
      margin-bottom:20px;
    }

    .step{
      background:rgb(0, 0, 0);
      padding:12px;
      margin-bottom:10px;
      border-left:5px solid #ffffff;
      border-radius:8px;
      color:#ff8989;
      filter: drop-shadow(0 0 2px rgba(255, 1, 1, 0.985));
    }

    .final-result{
      text-align:center;
      font-size:30px;
      margin-bottom:20px;
      color:#ff285a;
      font-weight:bold;
      filter: drop-shadow(0 0 10px rgba(255, 1, 1, 0.985));
    }